
.db {
    display: block;
}

.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.black {
    color: #000;
}

.gray {
    color: #777;
}

.pa3 {
    padding: 1rem;
}

.pb3 {
    padding-bottom: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f1 {
    font-size: 3rem;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }

    .mb4-ns {
        margin-bottom: 2rem;
    }

    .f-headline-ns {
        font-size: 6rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}
